<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://vkceyugu.cdn.bspapp.com/VKCEYUGU-bdbb5488-f5e7-4d48-b07f-8c6975479ad3/4b6e8608-c21c-49bf-8e37-2b6e3d178575.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://dimg04.c-ctrip.com/images/02072120009i7hfokA5A0.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://img-cdn-aliyun.dcloud.net.cn/stream/icon/__UNI__6F23139.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>uni.ctrip.cloudbag</string>
				<key>bundle-version</key>
				<string>1.4.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>行李配送</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>